* {
    margin: 0px;
    padding: 0px;
}

/* 开始动画样式 */

.left {
    position: absolute;
    width: 50%;
    height: 100%;
    background: lightgray;
    z-index: 2;

    /* 简写样式
    animation: switch 2s ease-out 1s forwards;
    */

    animation-name: switch;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    overflow: hidden;
}


/* 齿轮跟随幕布移动样式 */
/*.left img {
    position: absolute;
    width: 300px;
    top: 25%;
    right: -150px;
    opacity: 0.5;
    filter: Alpha(opacity=50);

    animation-name: rotation;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
}*/

.right {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: lightgray;
    z-index: 2;

    animation-name: switch;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    overflow: hidden;
}

/*.right img {
    position: absolute;
    width: 300px;
    top: 25%;
    left: -150px;
    opacity: 0.5;
    filter: Alpha(opacity=50);

    animation-name: rotation;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
}*/

.gear img{
    width: 300px;
    position: absolute;
    width: 300px;
    top: 25%;
    left: 35%;
    z-index: 3;

    opacity: 0;
    filter: Alpha(opacity=0);

    animation-name: rotation1;
    animation-duration: 7s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
}

.show {
    opacity: 0;
    filter: Alpha(opacity=0);

    animation-name: imageshow;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

/* 场景切换动画 */
@keyframes switch {
    0% {
        width: 50%;
    }

    100% {
        width: 0;
    }
}

/* 齿轮旋转动画 */
@keyframes rotation {
    0% {
        transform: rotate(0deg);            
    }

    100% {
        transform: rotate(180deg);
    }
}

/* 齿轮中间转动动画 */
@keyframes rotation1 {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        filter: Alpha(opacity=0);
        
    }

    50% {
        transform: rotate(-180deg);
        opacity: 0.7;
        filter: Alpha(opacity=70);
    }

    100% {

        transform: rotate(90deg);
        opacity: 0;
        filter: Alpha(opacity=0);

    }
}

/* 图片墙渐变动画 */
@keyframes imageshow {
    0% {
        opacity: 0;
        filter: Alpha(opacity=0);
    }

    100% {
        opacity: 1;
        filter: Alpha(opacity=100);
    }
}

/* 开始动画样式结束 */

/* 图片墙样式 */

body{background-color:#E9E9E9; color:#333333; font-family:"Lucida handwriting",Arial,Helvetica,sans-serif; font-size:16px; margin:0; padding:0;}
a, a:hover{color:#333333; text-decoration:none;}
.box{width:1200px; height:450px; margin:40px auto 0; font-size:0.75em; position:relative;}
h1 {
    text-align: center;
}
.pic {
    display:block; 
    padding:10px 10px 15px; 
    text-align:center; 
    background:white; 
    border:1px solid #bfbfbf; 
    -webkit-box-shadow:2px 2px 3px rgba(135, 139, 144, 0.4); 
    -moz-box-shadow:2px 2px 3px rgba(135, 139, 144, 0.4); 
    box-shadow:2px 2px 3px rgba(135, 139, 144, 0.4); 
    -webkit-transition:all 0.5s ease-in-out; 
    position:absolute; 
    z-index:1;
}
.pic img{display:block; margin-bottom:10px; border:0;}
.pic:hover,.pic:focus,.pic:active{border-color:#9a9a9a; -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); transform:rotate(0deg); z-index:2;}

.pic1{bottom: 10px; right: 365px; -webkit-transform: rotate(10deg); -moz-transform: rotate(10deg); transform: rotate(10deg);}
.pic2{top: 50px; right: 20px; -webkit-transform: rotate(-14deg); -moz-transform: rotate(-4deg); transform: rotate(-4deg);}
.pic3{left: 430px; top: 0; -webkit-transform: rotate(-5deg); -moz-transform: rotate(-5deg); transform: rotate(-5deg);}
.pic4{top: 10px; left: 495px; -webkit-transform: rotate(-20deg); -moz-transform: rotate(-20deg); transform: rotate(-20deg);}
.pic5{bottom: 0; right: 0; -webkit-transform: rotate(1deg); -moz-transform: rotate(1deg); transform: rotate(1deg);}
.pic6{bottom: 10px; right: 156px; -webkit-transform: rotate(6deg); -moz-transform: rotate(6deg); transform: rotate(6deg);}
.pic7{bottom:0; left:250px; -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); transform: rotate(-10deg);}
.pic8{bottom: -20px; left: 700px; -webkit-transform: rotate(-8deg); -moz-transform: rotate(-8deg); transform: rotate(-8deg);}
.pic9{bottom: 0; left: 0; -webkit-transform: rotate(-8deg); -moz-transform: rotate(-8deg); transform: rotate(-8deg);}
.pic10{top: 0; left: 20px; -webkit-transform: rotate(8deg); -moz-transform: rotate(8deg); transform: rotate(8deg);}
.pic11{top: 0; right: 0; -webkit-transform: rotate(-8deg); -moz-transform: rotate(-8deg); transform: rotate(-8deg);}
.pic12{top: 0; left: 680px; -webkit-transform: rotate(18deg); -moz-transform: rotate(18deg); transform: rotate(18deg);}
.pic13{bottom: -20px; right: 630px; -webkit-transform: rotate(4deg); -moz-transform: rotate(4deg); transform: rotate(4deg);}
.pic14{top: 90px; left: 500px; -webkit-transform: rotate(15deg); -moz-transform: rotate(15deg); transform: rotate(15deg);}
.pic15{left:176px; top:20px; -webkit-transform: rotate(-8deg); -moz-transform: rotate(-8deg); transform: rotate(-8deg);}